*{
  
  margin: 0;
}




.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  /*Fonts*/
  --regular: 400;
  --bold: 700;

  /*Colors*/
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  --light-grays: hsl(212, 45%, 89%);
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--light-grays);
  
}

h3 {
  font-weight: var(--bold);
}

p {
  font-weight: var(--regular);
  font-size: 15px;
}

@media (max-width: 414px) {
  body{
    height: 100%;
    margin: 5em 1.5em;
  }


  #qr-component {
    
    background-color: white;
    border-radius: 15px;
  }
  #component-container{
    padding: 1em;
  }
 #qr-code-container{
    width: 100%;
 }
  #qr-code img{
    width: 100%;
  object-fit: cover;
  border-radius: 10px;
  }
  #qr-component-text{
    
    padding: 1.5em;
  }
  h3{
    text-align: center;
  }
  p{
    margin-top: 1em;
    color:var(--grayish-blue);
    text-align: center;
  }
}
@media (min-width: 415px) {
}
